@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;

}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../imagens/frame-iphone.png") no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}


section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform 0.3s, border 0.4s;
}






















/* @charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: darkgray;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    position: relative;
}

#iphone {

    min-height: 70%;
    min-width: 32%;
    /* background-color: lightgreen; 
    background-image: url('../imagens/frame-iphone.png');
    background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	
    position: absolute;
    left: 50.2%;
    top: 52%;
    transform: translate(-50%, -50%);
}

iframe {
    height: 74.5%;
    width: 71%;
    background-image: url('../imagens/tela-home.jpg');

    border: 0;
    background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ul {
    text-align: right;
}

li > a > img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 10px;
}

a:hover {
    margin-right: 3px;
    transition: 0.3s;
}

li > a > img:hover  {
    box-shadow: 5px 5px 5px black;
    transition: 0.3s;
} */