@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: darkgray;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    position: relative;
}

#iphone {

    min-height: 70%;
    min-width: 32%;
    /* background-color: lightgreen; */
    background-image: url('../imagens/frame-iphone.png');
    background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	
    position: absolute;
    left: 50.2%;
    top: 52%;
    transform: translate(-50%, -50%);
}

iframe {
    height: 74.5%;
    width: 71%;
    background-image: url('../imagens/tela-home.jpg');

    border: 0;
    background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ul {
    text-align: right;
}

li > a > img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 10px;
}

a:hover {
    margin-right: 3px;
    transition: 0.3s;
}

li > a > img:hover  {
    box-shadow: 5px 5px 5px black;
    transition: 0.3s;
}